<ion-content class="background">
  <ion-toolbar class="toolbar">
    <ion-title>
      <div>
        <ion-img
          src="assets/icon/logoduoc.png"
          width="100px"
          alt="Logo DUOC"
        ></ion-img>
      </div>
      <div style="text-align: center" class="titulo">
        Sistema de Asistencia DuocUC
      </div>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="toolbar-comp">
    <ion-segment
      [(ngModel)]="componente_actual"
      (ngModelChange)="cambiarComponente($event)"
    >
      <!-- <ion-segment-button value="qr" class="comp">
        <ion-label class="comp">QR</ion-label>
      </ion-segment-button>
      <ion-segment-button value="miclase" class="comp">
        <ion-label>Mi clase</ion-label>
      </ion-segment-button> -->
      <ion-segment-button value="adm" class="comp">
        <ion-label>Admin</ion-label>
      </ion-segment-button>
      <ion-segment-button value="foro" class="comp">
        <ion-label>Foro</ion-label>
      </ion-segment-button>
      <ion-segment-button value="misdatos" class="comp">
        <ion-label>Mis Datos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <!-- <app-qr
    [hidden]="componente_actual !== 'qr'"
    (qrCapturado)="cambiarComponente('miclase')"
  ></app-qr>
  <app-miclase [hidden]="componente_actual !== 'miclase'"></app-miclase> -->
  <app-adm [hidden]="pages_actual !== 'adm'"></app-adm>
  <app-foro [hidden]="componente_actual !== 'foro'"></app-foro>
  <app-misdatos [hidden]="componente_actual !== 'misdatos'"></app-misdatos>
  <ion-footer class="footer">
    <ion-toolbar>
      <ion-button
        (click)="cerrarSesion()"
        expand="block"
        fill="clear"
        shape="round"
        >Cerrar Sesión</ion-button
      >
    </ion-toolbar>
  </ion-footer>
</ion-content>
