<ion-content class="ion-padding ion-text-center">

  <div class="ion-padding-bottom">
    <h1>
      Bienvenido(a)! {{ usuario.nombre }} {{usuario.apellido}}
    </h1>
  </div>

  <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()">
    <ion-icon slot="start" name="videocam-outline"></ion-icon>
    COmenzar escaneo de QR
  </ion-button>

  <ion-button *ngIf="escaneando && plataforma === 'web'" (click)="detenerEscaneoQR()">
    <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
    Detener escaneo de QR
  </ion-button>

  <video #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>
</ion-content>
