.marco {
  --background: #000000 url(/assets/img/fondo.duoc.png) no-repeat center center / cover;
}

.ion-padding-bottom{
  margin-top: 50px;
  text-align: center;
}

.centrar-boton {
  text-align: center;
}