<ion-content>
    <!--Imagen-->
      <div>
        <img src="../../../assets/img/Logo_Clasico.png" alt="Logo DuocUC" class="logo">
      </div>

      <ion-button class="title-animation" fill="clear" (click)="redi_clase()">
        <ion-icon name="school" slot="start"></ion-icon> <!-- Icono de escuela -->
        Mi Clase
      </ion-button>

      <ion-card class="ion-text-center">
        <h1>¡Bienvenid@!</h1>
        <br>
        <p>Ana Torres Leiva</p>
        <br>
        <br>
        <br>
        <h6>Lectura de Código QR</h6>
        <div class="camera-container">
          <video #video></video>
        </div>
        <br>
        <ion-button class="button-1" (click)="comenzarEscaneoQR()" expand="full" size="small">
          <ion-icon name="play-outline" slot="start"></ion-icon>
          Comenzar Escaneo
        </ion-button>
        
        <ion-button class="button-2" (click)="detenerEscaneoQR()" expand="full" size="small">
          <ion-icon name="stop-outline" slot="start"></ion-icon>
          Detener Escaneo
        </ion-button>


      </ion-card>
      <br>
      <ion-button expand="full" shape="round" (click)="cerrarSesion()">
        <ion-icon slot="start" name="log-out"></ion-icon>
        Cerrar Sesión
      </ion-button>
</ion-content>

<ion-footer class="ion-text-center custom-footer">
  <div class="custom-card">
    <h1>Sistema de Asistencia DuocUC</h1>
  </div>
  <ion-icon name="cog" class="rotate"></ion-icon>
</ion-footer>
