@keyframes slideInLeft {
    from {
    transform: translateX(-100%);
    opacity: 0;
}

to {
    transform: translateX(0);
    opacity: 1;
}
}

@keyframes slideInRight {
from {
    transform: translateX(100%);
    opacity: 0;
    }

to {
    transform: translateX(0);
    opacity: 1;
}
}

@keyframes footer-animation {
0% {
    transform: translateX(250%);
}
100% {
    transform: translateX(-100%);
}
}

.logo{
max-width: 350px; 
height: auto; 
display: block; 
margin: 0 auto; 
}

.custom-card {
    color: black;
}

ion-card {
    background-color: #000033; /* Cambia el color de fondo a tu preferencia */
    color: #fff; /* Cambia el color del texto a tu preferencia */
    text-align: center;
    padding: 0px;
    border-radius: 30px;
}

h1 {
    font-size: 24px; /* Tamaño del título */
    margin-bottom: 0px; /* Espacio inferior para separar el título del párrafo */
}

p {
    font-size: 16px; /* Tamaño del párrafo */
    margin-bottom: 20px; /* Espacio inferior para separar el párrafo de la siguiente sección */
}

h6 {
    font-size: 18px; /* Tamaño del subtítulo */
}

.title-animation {
    border: 2px solid var(); 
    border-radius: 10px; 
    color: #fff;
    background-color: var(--ion-color-primary);
    transition: all 0.3s ease;

&:hover {
    background-color: blue($color: #000000);
    }

    ion-icon {
    color: #fff;
    font-size: 20px; 
    }
}

ion-content {
    --background: #fff url(/assets/img/fondo.duoc.png) no-repeat center center / cover;
}

.custom-footer {
    background-color: beige; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


.rotate {
    animation: rotation 2s infinite linear;
}


@keyframes rotation {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
    }
}

.camera-container {
    margin: 16px; 
    border: 1px solid #ccc; 
    position: relative;
}

video {
    width: 100%; 
    height: auto;
}

ion-button {
    margin-top: 16px; 
}

.button-1{
    --padding-start: 10px;
    --padding-end: 10px;  
    --border-radius: 10px; 
    font-size: 12px;       
    --min-height: 20px;    
    --min-width: 70px;     
}

.button-2{
    --padding-start: 10px; 
    --padding-end: 10px;   
    --border-radius: 10px; 
    font-size: 12px;       
    --min-height: 20px;    
    --min-width: 70px; 
}