ion-content.background {
  --background: #000000 url(/assets/img/fondo.duoc.png) no-repeat center center / cover;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden; /* Desactiva el desplazamiento vertical */
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
