ion-content .background {
  --background: #ffffff url(/assets/img/fondo.duoc.png) no-repeat center center / cover;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden; /* Desactiva el desplazamiento vertical */
}

.toolbar{
  --background: rgba(255, 255, 255, 0);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

ion-title .titulo {
  background-color: #041C2C;
  color: white;
  padding: 10px; /* Ajusta según sea necesario para el espaciado interior */
  border-radius: 20px; /* Ajusta según sea necesario para los bordes redondeados */
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}


// components
.toolbar-comp {
  --background: rgb(0, 0, 0, 0); /* Fondo transparente o color deseado */
}

ion-label{
  font-weight: bold lighter; /* Ajusta según sea necesario para el peso de la fuente */
  white-space: normal;
}

/* Opcional: Puedes cambiar el color de fondo y texto de los botones seleccionados */
ion-segment-button{
  background-color: #041C2C; /* Ajusta según sea necesario */
  color: white; /* Ajusta según sea necesario */
  border-radius: 0px; /* Ajusta según sea necesario para redondear los botones */
}

ion-segment-button:hover{
  background-color: #002d4a; /* Ajusta según sea necesario */
  color: white; /* Ajusta según sea necesario */
  border-radius: 0px; /* Ajusta según sea necesario para redondear los botones */
}
