<ion-content class="background">
  <ion-header [translucent]="false">
    <ion-toolbar class="ion-text-center header-toolbar">
      <ion-title>
        <ion-img src="assets/icon/logoduoc.png" class="logo" alt="Logo DUOC"></ion-img>
        <div class="header-text">
          Sistema de Asistencia DuocUC
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-toolbar class="ion-text-center">
    <ion-segment [(ngModel)]="componente_actual" (ngModelChange)="cambiarComponente($event)" class="segment-container">
      <ion-segment-button value="qr" class="segment-button">
        <ion-label>QR</ion-label>
      </ion-segment-button>
      <ion-segment-button value="miclase" class="segment-button">
        <ion-label>Mi clase</ion-label>
      </ion-segment-button>
      <ion-segment-button value="foro" class="segment-button">
        <ion-label>Foro</ion-label>
      </ion-segment-button>
      <ion-segment-button value="misdatos" class="segment-button">
        <ion-label>Mis Datos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

    <app-qr *ngIf="componente_actual === 'qr'" (qrCapturado)="cambiarComponente('miclase')"></app-qr>
    <app-miclase *ngIf="componente_actual === 'miclase'"></app-miclase>
    <app-foro *ngIf="componente_actual === 'foro'"></app-foro>
    <app-misdatos *ngIf="componente_actual === 'misdatos'"></app-misdatos>


  <ion-footer class="ion-text-center footer">
    <ion-toolbar class="footer-toolbar">
      <ion-button (click)="cerrarSesion()" expand="full" fill="clear" shape="round">Cerrar Sesión</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-content>