<ion-content [fullscreen]="true">
    <a #topOfPage href="#topOfPage"></a>
    <ion-card>

        <ion-card-header>
            <ion-card-title> Ingresa tu publicacion </ion-card-title>
        </ion-card-header>

        <ion-item class="ion-padding-horizontal">
            <ion-input [(ngModel)]="publicacion.titulo" label="Titulo" labelPlacement="floating"></ion-input>
        </ion-item>

        <ion-item class="ion-padding-horizontal">
            <ion-textarea [(ngModel)]="publicacion.contenido" label="Contenido" labelPlacement="floating"></ion-textarea>
        </ion-item>

        <div class="alinear-centro">
            <ion-button (click)="limpiarPublicacion()"> Borrar</ion-button>
            <ion-button (click)="guardarPublicacion()"> Guardar</ion-button>
        </div>
    </ion-card>

    <ion-card class="sin-bordes">
        <ion-card-title class="con-padding-top"> Publicaciones recientes</ion-card-title>
    </ion-card>

    <ion-card *ngFor="let pub of publicaciones">

        <ion-card-header>
            <h4>
                #{{ pub.id }}: {{ pub.titulo}} <br>
                Autor: {{ pub.nombre }} {{ pub.apellido }}
            </h4>
        </ion-card-header>

        <ion-card-content>
            {{ pub.contenido }}
        </ion-card-content>

        <div class="alinear-derecha">

            <ion-button (click)="editarPublicacion(pub)">
                Editar
                <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
            </ion-button>

            <ion-button (click)="eliminarPublicacion(pub)">
                Eliminar
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
        </div>
    </ion-card>
</ion-content>