.alinear-centro {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.alinear-derecha {
    text-align: center;
}
ion-content {
    --background: #fff url(/assets/img/fondo.duoc.png) no-repeat center center / cover;
  }

.boton-con-icono {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-boton {
    margin-top: 5px; /* Ajusta este valor según sea necesario */
}
