@keyframes slideInLeft {
    from {
    transform: translateX(-100%);
    opacity: 0;
}
to {
    transform: translateX(0);
    opacity: 1;
    }
}

@keyframes slideInRight {
    from {
    transform: translateX(100%);
    opacity: 0;
    }
    to {
    transform: translateX(0);
    opacity: 1;
    }
}

@keyframes footer-animation {
0% {
    transform: translateX(250%);
}
100% {
    transform: translateX(-100%);
}
}

.img-small {
    max-width: 55%; 
    height: auto; 
}

.custom-card {
    background-color: #000033; 
    border-radius: 50px; 
    padding: 0px; 
    color: white; 
}

ion-content {
    --background: #fff url(/assets/img/fondo.duoc.png) no-repeat center center / cover;
}