<div class="img_conn" style="background-image: url(/assets/img/fondo.duoc.png)">
<ion-header [translucent]="true">
  <ion-toolbar>
    
    
    <!--Barra de de botones-->
    <div slot="start" class="animation-container">

        <ion-title class=#title-animation>correo</ion-title>
    </div>

    <!--Imagen-->
    <div slot="end">
      <img width="150px" src="assets/icon/logo-duoc.png" alt="Logo DUOC" class="image-animation">
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-text-center">
  <ion-card>
    <ion-card-subtitle>Ingresa tu correo</ion-card-subtitle>
    
    <ion-input type="text" [(ngModel)]="correo" placeholder="Ingresa tu correo"></ion-input>
    <ion-label>
      <ion-button class="Button" (click)="ingresarPaginaValidarRespuestaSecreta()">Validar correo</ion-button>
    </ion-label>
  </ion-card>

  <ion-label>
    <ion-button shape="round" text-align="center" href="">Iniciar sesión</ion-button>
  </ion-label>

</ion-content>
</div>