<ion-content class="background">
    <ion-toolbar class="toolbar">
      <ion-title>
        <div>
          <ion-img
            src="assets/icon/logoduoc.png"
            width="100px"
            alt="Logo DUOC"
          ></ion-img>
        </div>
        <div style="text-align: center" class="titulo">
          Sistema de asistencia DuocUC
        </div>
      </ion-title>
    </ion-toolbar>
  
    <div class="centrado-vertical">
      <div class="marco ion-text-center">
        <ion-card class="ion-text-center">
            <ion-card-subtitle>Paso 1: Ingresa tu correo</ion-card-subtitle>
            <ion-input type="text" [(ngModel)]="correo" placeholder="Ingresa tu correo"></ion-input>
        <ion-label class="ion-padding">
            <ion-button class="Button" fill="clear" (click)="ingresarPaginaValidarRespuestaSecreta()">Recuperar Contraseña</ion-button>
        </ion-label>
        </ion-card>
        <ion-card>
        <ion-footer class="ion-text-center">
            <ion-button (click)="ingresar()" fill="clear">Volver al Login</ion-button>
        </ion-footer>
        </ion-card>
      </div>
    </div>
  </ion-content>