<div clas="marco">
  <ion-grid fixed>

    <ion-row>
      <ion-col size="6">Bloque Inicio</ion-col>
      <ion-col size="6">
        <span *ngIf="asistencia.bloqueInicio > 0">
          {{ asistencia.bloqueInicio }}
        </span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">Bloque Termino</ion-col>
      <ion-col size="6">
        <span *ngIf="asistencia.bloqueTermino > 0">
          {{ asistencia.bloqueTermino }}
        </span>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">Dia</ion-col>
      <ion-col size="6"> {{ asistencia.dia }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">Hora Inicio</ion-col>
      <ion-col size="6"> {{ asistencia.horaInicio }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">Hora Termino</ion-col>
      <ion-col size="6"> {{ asistencia.horaFin }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">Sigla Asignatura</ion-col>
      <ion-col size="6"> {{ asistencia.idAsignatura }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">Nombre Profesor</ion-col>
      <ion-col size="6"> {{ asistencia.nombreProfesor }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">Seccion</ion-col>
      <ion-col size="6"> {{ asistencia.seccion }}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">Sede</ion-col>
      <ion-col size="6"> {{ asistencia.sede }}</ion-col>
    </ion-row>


  </ion-grid>
</div>