<ion-content>
<div>
  <img src="../../../assets/img/Logo_Clasico.png" alt="Logo DuocUC" class="logo">
</div>
<ion-button class="title-animation" fill="solid" (click)="redi_inicio()">
  <ion-icon name="home" slot="start"></ion-icon> Inicio
</ion-button>

  <ion-card class="custom-card-1">
    <ion-card-header>      
      <ion-card-title>Detalles de la Clase</ion-card-title>
    </ion-card-header>

    <ion-card-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">Sede</ion-col>
        <ion-col size="6">{{sede}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">Sigla</ion-col>
        <ion-col size="6">{{idAsignatura}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">Seccion</ion-col>
        <ion-col size="6">{{seccion}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">Nombre asignatura</ion-col>
        <ion-col size="6">{{nombreAsignatura}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">Nombre profesor</ion-col>
        <ion-col size="6">{{nombreProfesor}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">Día</ion-col>
        <ion-col size="6">{{dia}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">Bloque de inicio</ion-col>
        <ion-col size="6">{{bloqueInicio}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">Bloque de termino</ion-col>
        <ion-col size="6">{{bloqueTermino}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">Hora de inicio</ion-col>
        <ion-col size="6">{{horaInicio}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">Hora de termino</ion-col>
        <ion-col size="6">{{horaFin}}</ion-col>
      </ion-row>
    </ion-grid>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-button expand="full" shape="round" (click)="cerrarSesion()">
    <ion-icon slot="start" name="log-out"></ion-icon>
    Cerrar Sesión
  </ion-button>
</ion-content>

<ion-footer class="ion-text-center custom-footer">
  <div class="custom-card">
    <h1>Sistema de Asistencia DuocUC</h1>
  </div>
  <ion-icon name="cog" class="rotate"></ion-icon>
</ion-footer>