@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }

}

@keyframes footer-animation {
  0% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logo{
  max-width: 350px; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
  }

.title-animation {
  border: 2px solid var(--ion-color-primary);
  border-radius: 10px;
  color: var(); 
  background-color: var(--ion-color-primary); 
  transition: all 0.3s ease; 
  
&:hover {
    background-color: var(); 
    color: #fff; 
  }

ion-icon {
    color: #fff; 
    font-size: 20px; 
    
  }
}

.custom-card-1 {
  background-color: lightgray;
}

ion-col {
  border-collapse: collapse;
  border: 2px solid gray;
}

.custom-footer {
  background-color: beige; 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}


.rotate {
  animation: rotation 2s infinite linear;
}


@keyframes rotation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
  }
}

ion-content {
  --background: #fff url(/assets/img/fondo.duoc.png) no-repeat center center / cover;
}