.centrado-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .marco {
    border: 3px solid gray;
    padding: 16px;
  }
  
  .alinear-centro {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  ion-content {
    --background: url(/assets/img/fondo.duoc.png) no-repeat center center / cover;
  }