<ion-content class="background">

  <ion-toolbar class="toolbar">
    <ion-title>
      <div>
        <ion-img src="assets/icon/logoduoc.png" width="100px" alt="Logo DUOC"></ion-img>
      </div>
      <div style="text-align: center;" class="titulo">
        Sistema de Asistencia DuocUC
      </div>
    </ion-title>
  </ion-toolbar>
  
  <div class="centrado-vertical">
    <div class="marco">
      <ion-card>
      <ion-item>
        <ion-input [(ngModel)]="correo" type="text" label="Correo" labelPlacement="floating"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" type="password" label="Contraseña" labelPlacement="floating"></ion-input>
      </ion-item>
        <div class="alinear-centro">
          <ion-button (click)="ingresar()">
            Ingresar
          </ion-button>
        </div>
        <ion-label>
          <ion-button class="custom-button" (click)="goCorreo()">
            Recuperar Contraseña
          </ion-button>
        </ion-label>
      </ion-card>
    </div>
  </div>


</ion-content>
